<h1>Editing group chat</h1>

<%= render "form", group_chat: @group_chat %>

<br>

<div>
  <%= link_to "Show this group chat", @group_chat %> |
  <%= link_to "Back to group chats", group_chats_path %>
</div>
