<h1>Editing private chat</h1>

<%= render "form", private_chat: @private_chat %>

<br>

<div>
  <%= link_to "Show this private chat", @private_chat %> |
  <%= link_to "Back to private chats", private_chats_path %>
</div>
